<header class="header">
    <nav>
        <ul class="nav-menu">
            <li><a class="link" href="{% url "home" %}">Home</a></li>
            <li><a class="link" href="{% url "ingredients-list" %}">Ingredients</a></li>
            <li><a class="link" href="{% url "dishes-list" %}">Dishes</a></li>
            <li><a class="link" href="{% url "types-list" %}">Types</a></li>
            <li><a class="link" href="{% url "cooks-list" %}">Cooks</a></li>

            <br>

            {% if user.is_authenticated %}
                <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="link">Logout</button>
                </form>
            {% else %}
                <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>