<header class="header">
    <nav>
        <ul class="nav-menu">
            <li><a class="link" href="{% url "home" %}">Home</a></li>
            <li><a class="link" href="{% url "ingredients-list" %}">Ingredients</a></li>
            <li><a class="link" href="{% url "dishes-list" %}">Dishes</a></li>
            <li><a class="link" href="{% url "types-list" %}">Types</a></li>
            <li><a class="link" href="{% url "cooks-list" %}">Cooks</a></li>
        </ul>
    </nav>
</header>