{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 d-flex justify-content-between">
        {{ dish.name }}
        <div>
            <a href="{% url 'dish-delete' pk=dish.id %}" class="btn btn-danger me-2">Delete</a>
            <a href="{% url 'dish-update' pk=dish.id %}" class="btn btn-secondary">Update</a>
        </div>
    </h1>
    <p><strong>Type:</strong> <a href="{% url 'dish-list-by-type' dish.dish_type.id %}">{{ dish.dish_type.name }}</a></p>
    <p><strong>Description:</strong> {{ dish.description }}</p>
    <p><strong>Price:</strong> {{ dish.price }} USD</p>

    {% if dish.cooks %}
        <h2 class="mt-4">This can be cooked by:</h2>
        <ul class="list-group mb-4">
            {% for cook in dish.cooks.all %}
                <li class="list-group-item">
                    <a href="{% url 'cook-detail' cook.pk %}">{{ cook.first_name }} {{ cook.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Ingredients used in this dish:</h2>
    <ul class="list-group">
        {% for ingredient in dish.ingredients.all %}
            <li class="list-group-item">
                <a href="{% url 'dish-list-by-ingredient' ingredient.id %}">{{ ingredient.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}