{% extends "base.html" %}

{% block content %}
    <form method="GET" action="{% url 'types-list' %}">
        <input type="text" name="query" placeholder="Search types..." value="{{ request.GET.query }}">
        <button type="submit">🔎</button>
    </form>
    <h1>
        <a href="{% url "types-create" %}" class="btn">Add type</a>
    </h1>
    <ul>
        {% for type in dish_types_list %}
            <li>
                <a href="{% url 'dish-list-by-type' type.id %}">{{ type.name }}</a>
                <a href="{% url 'types-delete' pk=type.id %}" class="btn btn-danger link-to-page">
                    Delete
                </a>

                <a href="{% url 'types-update' pk=type.id %}" class="btn btn-secondary link-to-page">
                    Update
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}