{% extends "base.html"%}

{% block content %}
    <h1>
        {{ dish.name }}
        <a href="{% url 'dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
            Delete
        </a>

        <a href="{% url 'dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
            Update
        </a>
    </h1>
    <p><a href="{% url 'dish-list-by-type' dish.dish_type.id %}">{{ dish.dish_type.name }}</a></p>
    <p>{{ dish.description }}</p>
    <br>
    <p>It costs: {{ dish.price }}</p>
    <br>
    <h1>This can cook:</h1>
    <ul>
        {% if dish.cooks %}
            {% for cook in dish.cooks.all %}
                <li>
                    <a href="{% url "cook-detail" cook.pk %}">{{ cook.first_name }} {{ cook.last_name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <h1>These ingredients are used:</h1>
    <ul>
      {% for ingredient in dish.ingredients.all %}
      	<li>
          <a href="{% url 'dish-list-by-ingredient' ingredient.id %}">{{ ingredient.name }}</a>
        </li>
      {% endfor %}
    </ul>
{% endblock %}